MachineACafe/MachineACafe/bin/Debug/net5.0/MachineACafe.runtimeconfig.dev.json
MachineACafe/MachineACafe/bin/Debug/net5.0/MachineACafe.runtimeconfig.json
MachineACafe/MachineACafe/obj/MachineACafe.csproj.nuget.dgspec.json
MachineACafe/MachineACafe/obj/MachineACafe.csproj.nuget.g.props
MachineACafe/MachineACafe/obj/MachineACafe.csproj.nuget.g.targets
MachineACafe/MachineACafe/obj/project.assets.json
MachineACafe/MachineACafe/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.AssemblyInfo.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.csproj.CopyComplete
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.csproj.FileListAbsolute.txt
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.GeneratedMSBuildEditorConfig.editorconfig
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.RazorAssemblyInfo.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/MachineACafe.RazorTargetAssemblyInfo.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
MachineACafe/MachineACafe/obj/Debug/net5.0/staticwebassets/MachineACafe.StaticWebAssets.xml
MachineACafe/MachineACafe/bin/Debug/net5.0/appsettings.Development.json
MachineACafe/MachineACafe/bin/Debug/net5.0/appsettings.json
MachineACafe/MachineACafe/bin/Debug/net5.0/MachineACafe.deps.json
MachineACafe/MachineACafe/.vs/MachineACafe/config/applicationhost.config
MachineACafe/MachineACafe/.vs/MachineACafe/DesignTimeBuild/.dtbcache.v2
MachineACafe/.vs/MachineACafe/config/applicationhost.config
MachineACafe/.vs/MachineACafe/DesignTimeBuild/.dtbcache.v2
