@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    <div>
        <h1>Machine à café</h1>
        <p>@ViewBag.Error</p>
        <div>
            <label>Sélectionnez votre boisson</label>
            <select id="drink" name="drink">
                <option value="Expresso">
                    Expresso
                </option>
                <option value="Allonge">
                    Allongé
                </option>
                <option value="Capuccino">
                    Capuccino
                </option>
                <option value="Chocolat">
                    Chocolat
                </option>
                <option value="The">
                    Thé
                </option>
            </select>
        </div>
        <input type="submit" value="Calculer le prix de la boisson" />
        <div>
            <p>Prix de la boisson: @ViewBag.Price €</p>
        </div>
    </div>
}